.clearfix {
	*zoom: 1
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.col-xs-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-1 {
	margin-left: 8.33333%
}

.body{
	background-color: #000;
}
.col-xs-right-1 {
	right: 8.33333%
}
.col-xs-left-1 {
	left: 8.33333%
}
.col-xs-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-2 {
	margin-left: 16.66667%
}
.col-xs-right-2 {
	right: 16.66667%
}
.col-xs-left-2 {
	left: 16.66667%
}
.col-xs-3 {
	width: 25%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-3 {
	margin-left: 25%
}
.col-xs-right-3 {
	right: 25%
}
.col-xs-left-3 {
	left: 25%
}
.col-xs-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-4 {
	margin-left: 33.33333%
}
.col-xs-right-4 {
	right: 33.33333%
}
.col-xs-left-4 {
	left: 33.33333%
}
.col-xs-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-5 {
	margin-left: 41.66667%
}
.col-xs-right-5 {
	right: 41.66667%
}
.col-xs-left-5 {
	left: 41.66667%
}
.col-xs-6 {
	width: 50%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-6 {
	margin-left: 50%
}
.col-xs-right-6 {
	right: 50%
}
.col-xs-left-6 {
	left: 50%
}
.col-xs-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-7 {
	margin-left: 58.33333%
}
.col-xs-right-7 {
	right: 58.33333%
}
.col-xs-left-7 {
	left: 58.33333%
}
.col-xs-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-8 {
	margin-left: 66.66667%
}
.col-xs-right-8 {
	right: 66.66667%
}
.col-xs-left-8 {
	left: 66.66667%
}
.col-xs-9 {
	width: 75%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-9 {
	margin-left: 75%
}
.col-xs-right-9 {
	right: 75%
}
.col-xs-left-9 {
	left: 75%
}
.col-xs-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-10 {
	margin-left: 83.33333%
}
.col-xs-right-10 {
	right: 83.33333%
}
.col-xs-left-10 {
	left: 83.33333%
}
.col-xs-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-11 {
	margin-left: 91.66667%
}
.col-xs-right-11 {
	right: 91.66667%
}
.col-xs-left-11 {
	left: 91.66667%
}
.col-xs-12 {
	width: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: 1px
}
.col-xs-offset-12 {
	margin-left: 100%
}
.col-xs-right-12 {
	right: 100%
}
.col-xs-left-12 {
	left: 100%
}
@media(min-width:768px) {
	.col-sm-1 {
		width: 8.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-1 {
		margin-left: 8.33333%
	}
	.col-sm-right-1 {
		right: 8.33333%
	}
	.col-sm-left-1 {
		left: 8.33333%
	}
	.col-sm-2 {
		width: 16.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-2 {
		margin-left: 16.66667%
	}
	.col-sm-right-2 {
		right: 16.66667%
	}
	.col-sm-left-2 {
		left: 16.66667%
	}
	.col-sm-3 {
		width: 25%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-right-3 {
		right: 25%
	}
	.col-sm-left-3 {
		left: 25%
	}
	.col-sm-4 {
		width: 33.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-4 {
		margin-left: 33.33333%
	}
	.col-sm-right-4 {
		right: 33.33333%
	}
	.col-sm-left-4 {
		left: 33.33333%
	}
	.col-sm-5 {
		width: 41.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-5 {
		margin-left: 41.66667%
	}
	.col-sm-right-5 {
		right: 41.66667%
	}
	.col-sm-left-5 {
		left: 41.66667%
	}
	.col-sm-6 {
		width: 50%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-right-6 {
		right: 50%
	}
	.col-sm-left-6 {
		left: 50%
	}
	.col-sm-7 {
		width: 58.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-7 {
		margin-left: 58.33333%
	}
	.col-sm-right-7 {
		right: 58.33333%
	}
	.col-sm-left-7 {
		left: 58.33333%
	}
	.col-sm-8 {
		width: 66.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-8 {
		margin-left: 66.66667%
	}
	.col-sm-right-8 {
		right: 66.66667%
	}
	.col-sm-left-8 {
		left: 66.66667%
	}
	.col-sm-9 {
		width: 75%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-right-9 {
		right: 75%
	}
	.col-sm-left-9 {
		left: 75%
	}
	.col-sm-10 {
		width: 83.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-10 {
		margin-left: 83.33333%
	}
	.col-sm-right-10 {
		right: 83.33333%
	}
	.col-sm-left-10 {
		left: 83.33333%
	}
	.col-sm-11 {
		width: 91.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-11 {
		margin-left: 91.66667%
	}
	.col-sm-right-11 {
		right: 91.66667%
	}
	.col-sm-left-11 {
		left: 91.66667%
	}
	.col-sm-12 {
		width: 100%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-right-12 {
		right: 100%
	}
	.col-sm-left-12 {
		left: 100%
	}
}
@media(min-width:992px) {
	.col-md-1 {
		width: 8.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-1 {
		margin-left: 8.33333%
	}
	.col-md-right-1 {
		right: 8.33333%
	}
	.col-md-left-1 {
		left: 8.33333%
	}
	.col-md-2 {
		width: 16.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-2 {
		margin-left: 16.66667%
	}
	.col-md-right-2 {
		right: 16.66667%
	}
	.col-md-left-2 {
		left: 16.66667%
	}
	.col-md-3 {
		width: 25%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-right-3 {
		right: 25%
	}
	.col-md-left-3 {
		left: 25%
	}
	.col-md-4 {
		width: 33.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-4 {
		margin-left: 33.33333%
	}
	.col-md-right-4 {
		right: 33.33333%
	}
	.col-md-left-4 {
		left: 33.33333%
	}
	.col-md-5 {
		width: 41.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-5 {
		margin-left: 41.66667%
	}
	.col-md-right-5 {
		right: 41.66667%
	}
	.col-md-left-5 {
		left: 41.66667%
	}
	.col-md-6 {
		width: 50%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-right-6 {
		right: 50%
	}
	.col-md-left-6 {
		left: 50%
	}
	.col-md-7 {
		width: 58.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-7 {
		margin-left: 58.33333%
	}
	.col-md-right-7 {
		right: 58.33333%
	}
	.col-md-left-7 {
		left: 58.33333%
	}
	.col-md-8 {
		width: 66.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-8 {
		margin-left: 66.66667%
	}
	.col-md-right-8 {
		right: 66.66667%
	}
	.col-md-left-8 {
		left: 66.66667%
	}
	.col-md-9 {
		width: 75%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-right-9 {
		right: 75%
	}
	.col-md-left-9 {
		left: 75%
	}
	.col-md-10 {
		width: 83.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-10 {
		margin-left: 83.33333%
	}
	.col-md-right-10 {
		right: 83.33333%
	}
	.col-md-left-10 {
		left: 83.33333%
	}
	.col-md-11 {
		width: 91.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-11 {
		margin-left: 91.66667%
	}
	.col-md-right-11 {
		right: 91.66667%
	}
	.col-md-left-11 {
		left: 91.66667%
	}
	.col-md-12 {
		width: 100%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-right-12 {
		right: 100%
	}
	.col-md-left-12 {
		left: 100%
	}
}
@media(min-width:1200px) {
	.col-lg-1 {
		width: 8.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-1 {
		margin-left: 8.33333%
	}
	.col-lg-right-1 {
		right: 8.33333%
	}
	.col-lg-left-1 {
		left: 8.33333%
	}
	.col-lg-2 {
		width: 16.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-2 {
		margin-left: 16.66667%
	}
	.col-lg-right-2 {
		right: 16.66667%
	}
	.col-lg-left-2 {
		left: 16.66667%
	}
	.col-lg-3 {
		width: 25%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-right-3 {
		right: 25%
	}
	.col-lg-left-3 {
		left: 25%
	}
	.col-lg-4 {
		width: 33.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-4 {
		margin-left: 33.33333%
	}
	.col-lg-right-4 {
		right: 33.33333%
	}
	.col-lg-left-4 {
		left: 33.33333%
	}
	.col-lg-5 {
		width: 41.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-5 {
		margin-left: 41.66667%
	}
	.col-lg-right-5 {
		right: 41.66667%
	}
	.col-lg-left-5 {
		left: 41.66667%
	}
	.col-lg-6 {
		width: 50%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-right-6 {
		right: 50%
	}
	.col-lg-left-6 {
		left: 50%
	}
	.col-lg-7 {
		width: 58.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-7 {
		margin-left: 58.33333%
	}
	.col-lg-right-7 {
		right: 58.33333%
	}
	.col-lg-left-7 {
		left: 58.33333%
	}
	.col-lg-8 {
		width: 66.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-8 {
		margin-left: 66.66667%
	}
	.col-lg-right-8 {
		right: 66.66667%
	}
	.col-lg-left-8 {
		left: 66.66667%
	}
	.col-lg-9 {
		width: 75%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-right-9 {
		right: 75%
	}
	.col-lg-left-9 {
		left: 75%
	}
	.col-lg-10 {
		width: 83.33333%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-10 {
		margin-left: 83.33333%
	}
	.col-lg-right-10 {
		right: 83.33333%
	}
	.col-lg-left-10 {
		left: 83.33333%
	}
	.col-lg-11 {
		width: 91.66667%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-11 {
		margin-left: 91.66667%
	}
	.col-lg-right-11 {
		right: 91.66667%
	}
	.col-lg-left-11 {
		left: 91.66667%
	}
	.col-lg-12 {
		width: 100%;
		float: left;
		position: relative;
		box-sizing: border-box
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-right-12 {
		right: 100%
	}
	.col-lg-left-12 {
		left: 100%
	}
}
a.btn, a.btn:hover {
	text-decoration: none
}
button {
	outline: 0
}
.btn {
	height: 36px;
	line-height: 34px;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	text-align: center;
	color: #222;
	border: solid 1px #ced3d9;
	background-color: #f5f7fa;
	padding: 0 15px;
	border-radius: 3px;
	cursor: pointer;
	box-sizing: border-box
}
.btn:hover {
	color: #222;
	background-color: #e6ecf2
}
.btn .micon, .btn .ob-icon {
	margin-right: 5px;
	vertical-align: -10%;
	*vertical-align: middle
}
.btn-main {
	color: #fff;
	border: solid 1px #e64545;
	background-color: #e64545
}
.btn-main:hover {
	color: #fff;
	border: solid 1px #d92121;
	background-color: #d92121
}
.btn-main-light {
	color: #e64545;
	background: rgba(230, 69, 69, 0.1);
	border: 1px solid #e64545
}
.btn-main-light:hover {
	color: #e64545;
	border: solid 1px #e64545;
	background: rgba(230, 69, 69, 0.2)
}
.btn-aux {
	color: #fff;
	border: solid 1px #1470cc;
	background-color: #1470cc
}
.btn-aux:hover {
	color: #fff;
	border: solid 1px #1369bf;
	background-color: #1369bf
}
.btn-inquiry {
	color: #fff;
	border: solid 1px #ff9500;
	background-color: #ff9500
}
.btn-inquiry:hover {
	color: #fff;
	border: solid 1px #e58600;
	background-color: #e58600
}
.btn-big {
	height: 40px;
	line-height: 38px;
	font-size: 16px;
	padding: 0 20px
}
.btn-small {
	height: 30px;
	line-height: 28px;
	font-size: 12px;
	padding: 0 15px
}
.btn-disabled, .btn-disabled:hover, .btn[disabled], .btn[disabled]:hover {
	color: #b3b3b3;
	border: solid 1px #ced3d9;
	background-color: #edf0f2;
	cursor: not-allowed
}
html, body {
	position: relative;
	height: 100%
}
body {
	min-width: 1000px;
	overflow: auto
}
.m-header {
	box-sizing: border-box;
	padding: 1px 20px
}
.m-header .grid {
	max-width: 1440px;
	width: auto
}
.crumb {
	position: relative;
	max-width: 1440px;
	margin: 0 auto 20px!important;
	padding: 0 20px
}
.crumb h1, .crumb a {
	font-size: 14px!important
}
.catlist-wrap {
	position: relative;
	font-size: 14px;
	background-color: #f0f1f2;
	margin-top: -10px;
	padding-top: 76px
}
.catlist-wrap .catlist-tabs {
	position: absolute;
	top: 0;
	padding: 0 20px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid 1px #e6ecf2;
	z-index: 5;
	box-sizing: border-box
}
.catlist-wrap .catlist-tabs.affix {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100
}
.catlist-wrap .catlist-tabs .tabs-wrap {
	display: flex;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto
}
.catlist-wrap .catlist-tabs .tabs-box {
	position: relative;
	height: 100%;
	overflow: hidden;
	white-space: nowrap
}
.catlist-wrap .catlist-tabs .tabs-box .tab-item {
	display: inline;
	cursor: pointer
}
.catlist-wrap .catlist-tabs .tabs-box .tab-item:not(:first-child) {
	margin-left: -4px
}
.catlist-wrap .catlist-tabs .tabs-box .tab-item.hide {
	display: none
}
.catlist-wrap .catlist-tabs .tabs-box .tab-item.active .tab-anchor, .catlist-wrap .catlist-tabs .tabs-box .tab-item:hover .tab-anchor {
	padding-bottom: 19px;
	color: #e64545;
	border-bottom: 2px solid #e64545
}
.catlist-wrap .catlist-tabs .tabs-box .tab-item .tab-anchor {
	display: inline-block;
	padding: 21px 15px;
	color: #555;
	text-decoration: none;
	line-height: 1
}
.catlist-wrap .catlist-tabs .show-more-menu {
	position: relative;
	width: 84px;
	flex-shrink: 0
}
.catlist-wrap .catlist-tabs .show-more-menu.active .more-before {
	border-bottom: 2px solid #e64545;
	padding-bottom: 15px;
	color: #e64545
}
.catlist-wrap .catlist-tabs .show-more-menu .more-before {
	display: inline-block;
	padding: 17px 15px;
	color: #555;
	cursor: pointer
}
.catlist-wrap .catlist-tabs .show-more-menu .more-before:hover {
	border-bottom: 2px solid #e64545;
	padding-bottom: 15px;
	color: #e64545
}
.catlist-wrap .catlist-tabs .show-more-menu .more-before .ob-icon {
	margin-left: 5px;
	transition: transform .3s ease-in
}
.catlist-wrap .catlist-tabs .show-more-menu .tab-item.active .tab-anchor {
	background: #e6ecf2
}
.catlist-wrap .catlist-tabs .show-more-menu .tab-anchor {
	display: inline-block;
	padding: 10px 20px;
	text-align: left;
	color: #555;
	white-space: nowrap;
	box-sizing: border-box;
	width: 100%;
	cursor: pointer
}
.catlist-wrap .catlist-tabs .show-more-menu .tab-anchor:hover {
	background: #e6ecf2
}
.catlist-wrap .catlist-tabs .show-more-menu.show .show-more-list {
	display: inline-block
}
.catlist-wrap .catlist-tabs .show-more-menu.show .more-before .ob-icon {
	transform: rotate(180deg)
}
.catlist-wrap .catlist-tabs .show-more-list {
	display: none;
	background: #fff;
	position: absolute;
	right: 0;
	top: 64px;
	border: 1px solid #ced3d9;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 33, 66, 0.2);
	z-index: 2;
	padding: 5px 0
}
.catlist-wrap .pd-content-wrap {
	position: relative;
	margin: 0 auto;
	margin-bottom: 45px;
	padding: 0 20px;
	max-width: 1440px
}
.catlist-wrap .pd-content-wrap .content-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
	text-align: center
}
.catlist-wrap .catlist-content .catlist-item-wrap {
	position: relative;
	padding-left: 300px;
	height: 397px;
	background-color: #fff;
	border: solid 1px #e6ecf2
}
.catlist-wrap .catlist-content .catlist-item-wrap:not(:last-child) {
	margin-bottom: 20px
}
@media only screen and (max-width:1280px) {
	.catlist-wrap .catlist-content .catlist-item-wrap {
		padding-left: 0;
		height: auto
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify {
		position: relative;
		padding: 0;
		padding-left: 21px;
		width: 100%;
		height: 90px;
		line-height: 90px
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify .primary-title {
		font-size: 20px
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify .img-big {
		display: none
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify .img-small {
		display: inline-block
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify .spec-title {
		display: none
	}
	.catlist-wrap .catlist-content .catlist-item-wrap .primary-classify .normal-title {
		display: block
	}
}
.catlist-wrap .catlist-content .primary-classify {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 30px 20px 0 32px;
	width: 300px;
	height: 100%;
	background-color: #e2e2e2;
	box-sizing: border-box
}
.catlist-wrap .catlist-content .primary-classify .normal-title {
	display: none
}
.catlist-wrap .catlist-content .primary-classify .primary-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}
.catlist-wrap .catlist-content .primary-classify .img-small {
	display: none
}
.catlist-wrap .catlist-content .primary-classify .primary-title {
	position: relative;
	font-size: 24px;
	color: #222;
	font-weight: 500;
	z-index: 3
}
.catlist-wrap .catlist-content .primary-classify-content {
	position: relative;
	box-sizing: border-box;
	padding: 0 0 34px 30px;
	overflow: hidden
}
.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n) {
	width: 23%
}
.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+1) {
	width: 28%
}
.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+2) {
	width: 25%
}
.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+3) {
	width: 24%
}
@media only screen and (max-width:1440px) {
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n) {
		width: 28%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n+1) {
		width: 40%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n+2) {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-a] {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-b] {
		width: 28%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-2 .sec-classify[attr=spec-a], .catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-3 .sec-classify[attr=spec-a] {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-2 .sec-classify[attr=spec-b], .catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-3 .sec-classify[attr=spec-b] {
		width: 28%
	}
}
@media only screen and (max-width:1280px) {
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n) {
		width: 23%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+1) {
		width: 28%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+2) {
		width: 25%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(4n+3) {
		width: 24%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-a] {
		width: 23%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-b] {
		width: 25%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-2 .sec-classify[attr=spec-b], .catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-3 .sec-classify[attr=spec-b] {
		width: 23%
	}
}
@media only screen and (max-width:1120px) {
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n) {
		width: 28%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n+1) {
		width: 40%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap .sec-classify:nth-child(3n+2) {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-a] {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-1 .sec-classify[attr=spec-b] {
		width: 28%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-2 .sec-classify[attr=spec-a], .catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-3 .sec-classify[attr=spec-a] {
		width: 32%
	}
	.catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-2 .sec-classify[attr=spec-b], .catlist-wrap .catlist-content .primary-classify-content .sec-classify-wrap.primary-spec-3 .sec-classify[attr=spec-b] {
		width: 28%
	}
}
.catlist-wrap .catlist-content .primary-classify-content .sec-classify {
	float: left;
	padding-top: 34px
}
.catlist-wrap .catlist-content .primary-classify-content .sec-title {
	margin-bottom: 15px;
	font-weight: 700;
	white-space: nowrap
}
.catlist-wrap .catlist-content .primary-classify-content .thd-classify-item {
	margin-bottom: 9px;
	color: #555;
	white-space: nowrap
}
.catlist-wrap .catlist-content .primary-classify-content .thd-classify-item .item-anchor {
	color: #555
}
.catlist-wrap .catlist-content .primary-classify-content .thd-classify-item .item-anchor:hover {
	color: #e64545
}
.catlist-wrap .catlist-content .primary-classify-content .title-anchor {
	color: #222
}
.catlist-wrap .catlist-content .primary-classify-content .title-anchor:hover {
	color: #e64545
}
.catlist-wrap .hot-search-content .hot-box {
	padding: 31px 0 11px 31px;
	border: solid 1px #e6ecf2;
	background-color: #fff
}
.catlist-wrap .hot-search-content .hot-item {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 0 15px;
	height: 33px;
	line-height: 31px
}
.catlist-wrap .recommend-content .recommend-box {
	border: 1px solid #e8eef3;
	border-right: 0
}
.catlist-wrap .recommend-content .more-btn {
	position: relative;
	margin-top: -1px;
	padding-top: 33px;
	padding-bottom: 30px;
	border-right: 1px solid #e8eef3;
	text-align: center;
	background-color: #fff;
	z-index: 10
}
.catlist-wrap .recommend-content .recommend-item {
	position: relative;
	float: left;
	padding: 29px;
	width: 25%;
	border: 1px solid #e8eef3;
	border-top: 0;
	border-left: none;
	background-color: #fff;
	box-sizing: border-box
}
.catlist-wrap .recommend-content .video-badge {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 8.5px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.35)
}
.catlist-wrap .recommend-content .img-wrap {
	position: relative;
	display: table;
	margin-bottom: 15px;
	width: 100%
}
.catlist-wrap .recommend-content .img-wrap .img-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	padding-top: 100%
}
.catlist-wrap .recommend-content .img-wrap .img-inner img {
	position: absolute;
	max-width: 90%;
	max-height: 90%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all .3s ease-in
}
.catlist-wrap .recommend-content .img-wrap .img-inner img:hover {
	transform: scale(1.05)
}
.catlist-wrap .recommend-content .detail-wrap .pd-name {
	display: -webkit-box;
	margin-bottom: 10px;
	height: 42px;
	color: #555;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-wrap: break-word;
	line-height: 1.5
}
.catlist-wrap .recommend-content .detail-wrap .pd-name:hover {
	color: #e64545
}
@media only screen and (max-width:1280px) {
	.catlist-wrap .recommend-content .detail-wrap .pd-name {
		height: 36px;
		font-size: 12px
	}
}
.catlist-wrap .recommend-content .detail-wrap .pd-price, .catlist-wrap .recommend-content .detail-wrap .pd-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 21px
}
.catlist-wrap .recommend-content .detail-wrap .pd-price {
	color: #888
}
.catlist-wrap .recommend-content .detail-wrap .pd-price .price {
	color: #e64545;
	font-weight: 700
}
.catlist-wrap .recommend-content .detail-wrap .pd-desc {
	margin-bottom: 13px;
	color: #888
}
.catlist-wrap .recommend-content .contact-btn-wrap {
	height: 33px
}
.catlist-wrap .recommend-content .contact-btn {
	display: block;
	min-width: 135px;
	height: 100%;
	line-height: 31px;
	color: #222;
	white-space: nowrap
}
.catlist-wrap .find-content {
	margin-bottom: 0;
	padding-bottom: 45px
}
.catlist-wrap .find-content .find-item {
	float: left;
	padding: 30px;
	width: 50%;
	border: 1px solid #e6ecf2;
	background-color: #fff;
	box-sizing: border-box
}
.catlist-wrap .find-content .find-item:first-child {
	border-right-color: #fff
}
.catlist-wrap .find-content .find-item .item-title {
	font-weight: 700;
	font-size: 16px
}
.catlist-wrap .find-content .find-item .item-desc {
	color: #555
}
.catlist-wrap .find-content .find-item .btn {
	height: 33px;
	line-height: 31px
}
.catlist-wrap .find-content .find-item .request-btn {
	border: 1px solid #e64545;
	color: #e64545;
	background-color: #fff
}
.catlist-wrap .find-content .find-item .request-btn:hover {
	color: #fff;
	background: #e64545
}